/* Normalizers */
:root {
	font-family: 'Roboto', sans-serif;
	color: rgba(0, 0, 0, 0.6);
}
* {
	margin: 0;
	padding: 0;
}

/* Header component */
header {
	width: 100vw;
	height: 3.5rem;
	box-shadow: 0 0.125rem 0 #019592;
	display: flex;
	align-items: center;
}
header h3 {
	text-indent: 1rem;
	font-size: 1.5rem;
	font-weight: 400;
	color: #019592;
}

/* Login component */

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.input {
	height: 9.25rem;
}
.text {
	height: 6.75rem;
}
.login {
	background: #f5f5f5;
	height: 17rem;
	margin: 1.5rem;
	padding: 1.5rem;
	border-radius: 0.25rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.login > p {
	margin-top: 0.75rem;
	line-height: 150%;
}
.login h2 {
	font-weight: 400;
	font-size: 2.125rem;
	line-height: 106%;
	color: rgba(0, 0, 0, 0.87);
}
#login-email {
	padding: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	border-radius: 0.25rem;
}
#login-email::placeholder {
	color: rgba(0, 0, 0, 0.4);
}
.login button {
	border: none;
	box-shadow: none;
	padding: 1rem;
	background: rgba(0, 0, 0, 0.12);
	border-radius: 0.25rem;
	font-size: 0.875rem;
	font-variant: small-caps;
}
