.turma-seletor {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2.5rem;
	margin-left: -0.4125rem;
	padding-bottom: 2rem;
	border-bottom: solid 0.0625rem rgba(0, 0, 0, 0.12);
}
.legenda div:first-of-type span:first-of-type::before {
	content: '';
	display: inline-block;
	border: solid 0.125rem rgba(0, 0, 0, 0.12);
	border-radius: 0.125rem;
	width: 1rem;
	height: 1rem;
	margin-bottom: -0.35rem;
}
.legenda div:first-of-type span:first-of-type::after {
	content: ':';
	display: inline-block;
}
.legenda div:nth-of-type(2) i {
	color: rgba(0, 0, 0, 0.6);
}
.turma-seletor span {
	margin: 0 0.5rem;
	cursor: default;
}
.materia-horario select {
	font-size: 1.25rem;
	color: #017374;
}
.turma-seletor .turno-grau select.grau {
	width: 5.5rem;
	overflow: hidden;
	text-overflow: ellipsis !important;
	white-space: nowrap;
}
.turno-grau {
	display: inline-block;
}
.serie-turma {
	display: inline-block;
}
.lista-frequencia {
	margin-top: 2rem;
}
.lista-frequencia ul li {
	max-width: 100%;
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 1.5rem;
	padding: 0 0.5rem;
}
.lista-frequencia ul li:first-of-type {
	font-weight: 700;
	padding-bottom: 0.5rem;
	/* border-bottom: solid 0.0625rem rgba(0, 0, 0, 0.12); */
}
.lista-frequencia ul li label {
	text-transform: capitalize;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 18rem;
	margin-left: 1rem;
	margin-right: 1rem;
	padding: 1rem 0;
	justify-self: flex-start;
}
.lista-frequencia ul li input + i {
	position: absolute;
	right: 0.675rem;
}

@media (min-width: 26rem) {
	#pag_frequencia-diaria {
		width: 80%;
	}
	.turma-seletor div {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		width: 50%;
		height: 100%;
	}
	.turma-seletor .turno-grau select.materia,
	.turma-seletor .turno-grau select.grau {
		width: auto;
	}
	.lista-frequencia li:not(:first-of-type):hover {
		background-color: rgba(0, 0, 0, 0.03);
	}
	.lista-frequencia ul li label {
		width: 100%;
		max-width: unset;
	}
}
