/* Login components */
header {
	position: unset;
}
main {
	margin: 0;
	display: flex;
	justify-content: center;
}
.form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 1.5rem;
}
.login {
	background: #f5f5f5;
	padding: 1.5rem;
	margin-bottom: 3rem;
	border-radius: 0.25rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.input {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 2rem 0;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* Password Strength Meter */
.password-strength-meter {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
}
.password-strength-meter span {
	display: inline-block;
	height: 0.5rem;
	width: 32%;
	background: rgba(33, 33, 33, 0.08);
}

/* Assign classes to the spans for proper coloring */
.password-strength-meter span.weak {
	background: #b00020;
}
.password-strength-meter span.medium {
	background: #ffec3d;
}
.password-strength-meter span.strong {
	background: #00c4b4;
}

/* Captions in the form */
.form p {
	margin-top: 1.5rem;
	line-height: 150%;
}
.form .text--tiny {
	font-size: 0.75rem;
	line-height: 150%;
	margin-top: 0.5rem;
}
input[id^='cadastro'] {
	padding: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	border-radius: 0.25rem;
}
input[id^='cadastro']::placeholder {
	color: rgba(0, 0, 0, 0.4);
}

input:not(:first-of-type) {
	margin-top: 1rem;
}

.form a {
	text-decoration: none;
	text-align: center;
}
