/* Normalizers */
:root,
* {
	font-family: 'Roboto', sans-serif;
	color: rgba(0, 0, 0, 0.6);
}
* {
	font-family: inherit;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* Header component */
header {
	width: 100vw;
	height: 3.5rem;
	box-shadow: 0 0.125rem 0 #019592;
	display: flex;
	align-items: center;
}
header h3 {
	text-indent: 1rem;
	font-size: 1.5rem;
	font-weight: 400;
}
h3,
h3 strong {
	color: #019592;
}
h3 > a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

/* Login component */
.form {
	margin: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.login {
	/* height: 22rem; */
	background: #f5f5f5;
	padding: 1.5rem;
	margin-bottom: 3rem;
	border-radius: 0.25rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.input {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 2rem 0;
}

.password-strength-meter {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
}
.password-strength-meter span {
	display: inline-block;
	height: 0.5rem;
	width: 32%;
	background: rgba(33, 33, 33, 0.08);
}

.password-strength-meter span.weak {
	background: #b00020;
}
.password-strength-meter span.medium {
	background: #ffec3d;
}
.password-strength-meter span.strong {
	background: #00c4b4;
}

.form p {
	margin-top: 1.5rem;
	line-height: 150%;
}
.form .text--tiny {
	font-size: 0.75rem;
	line-height: 150%;
	margin-top: 0.5rem;
}
h2 {
	font-weight: 400;
	font-size: 2.125rem;
	line-height: 106%;
	color: rgba(0, 0, 0, 0.87);
}
input[id^='cadastro'] {
	padding: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	border-radius: 0.25rem;
}
input[id^='cadastro']::placeholder {
	color: rgba(0, 0, 0, 0.4);
}

input:not(:first-of-type) {
	margin-top: 1rem;
}

.form button,
.primary-button {
	font-size: 0.875rem;
	font-variant: small-caps;
	color: rgba(0, 0, 0, 0.87);
	width: 100%;
	background: rgba(0, 0, 0, 0.12);
	padding: 1rem;
	border-radius: 0.25rem;
	border: none;
	box-shadow: none;
	cursor: pointer;
}
.form a {
	text-decoration: none;
	text-align: center;
}

.page404 {
	height: calc(100vh - 3.5rem);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.page404 h3 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}
.page404 a {
	margin-top: 1rem;
}

@media (min-width: 26rem) {
	.form {
		width: 23rem;
	}
}
