/* Normalizers */
:root,
* {
	font-family: 'Roboto', sans-serif;
	color: rgba(0, 0, 0, 0.6);
	box-sizing: border-box;
}
* {
	text-rendering: optimizeLegibility;
	font-family: inherit;
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

/* Header component */
header {
	width: 100vw;
	height: 3.5rem;
	box-shadow: 0 0.125rem 0 #019592;
	display: flex;
	align-items: center;
	position: fixed;
	background-color: white;
	top: 0;
	right: 0;
	z-index: 1;
}
header h1 {
	text-indent: 2rem;
	font-size: 1.5rem;
	font-weight: 400;
}
h1,
h1 strong {
	color: #019592;
}
h1 > a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

/* General styles */
main {
	margin-top: 3.5rem;
	width: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
h2 {
	font-weight: 400;
	font-size: 2.125rem;
	color: rgba(0, 0, 0, 0.87);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.form button,
.primary-button {
	font-size: 0.875rem;
	font-variant: small-caps;
	color: rgba(0, 0, 0, 0.87);
	width: 100%;
	background: rgba(0, 0, 0, 0.12);
	padding: 1rem;
	border-radius: 0.25rem;
	border: none;
	box-shadow: none;
	cursor: pointer;
}
.primary-button:hover {
	background-color: rgba(0, 0, 0, 0.24);
	font-weight: 700;
}
.primary-button:active {
	background-color: rgba(0, 0, 0, 0.4);
}

/* Formulários e Entradas de Dados */
.input.wrapper {
	position: relative;
	/* padding-top: .8125rem; */
}
.input.wrapper input {
	padding: 1rem;
	font-size: 1rem;
	border: none;
	border-bottom: 0.125rem solid rgba(1, 149, 146, 0.64);
	border-radius: 0.25rem 0.25rem 0 0;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-appearance: none;
}
.input.wrapper input::placeholder {
	color: rgba(0, 0, 0, 0.4);
	font-size: 0.8rem;
}
*:focus {
	outline-color: #00c4b4;
}
.input.wrapper label {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 1rem;
	margin-left: 1rem;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
}
.input.wrapper input::placeholder {
	color: transparent;
}

.input.wrapper input:focus:required:invalid {
	border-bottom: 0.125rem solid #b00020;
}
.input.wrapper input:not(:required) + label::after {
	content: '(opcional)';
	font-size: 0.5rem;
	position: absolute;
	top: 0.125rem;
	left: calc(100% + 0.25rem);
}
.input.wrapper input:focus + label,
.input.wrapper input:not(:placeholder-shown) + label {
	font-size: 0.8rem;
	margin-top: 0.125rem;
	color: #005457;
}

/* Media Queries & Responsividade pro Desktop */

@media (min-width: 26rem) {
	.form {
		width: 23rem;
	}
}
