/* Normalizers */
:root,
* {
	font-family: 'Roboto', sans-serif;
	color: rgba(0, 0, 0, 0.6);
	box-sizing: border-box;
}
* {
	text-rendering: optimizeLegibility;
	font-family: inherit;
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

/* Header component */
header {
	width: 100vw;
	height: 3.5rem;
	box-shadow: 0 0.125rem 0 #019592;
	display: flex;
	align-items: center;
	position: fixed;
	background-color: white;
	top: 0;
	right: 0;
	z-index: 1;
}
header h1 {
	text-indent: 2rem;
	font-size: 1.5rem;
	font-weight: 400;
}
h1,
h1 strong {
	color: #019592;
}
h1 > a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

/* General styles */
main {
	margin-top: 3.5rem;
	width: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
h2 {
	font-weight: 400;
	font-size: 2.125rem;
	color: rgba(0, 0, 0, 0.87);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.form button,
.primary-button {
	font-size: 0.875rem;
	font-variant: small-caps;
	color: rgba(0, 0, 0, 0.87);
	width: 100%;
	background: rgba(0, 0, 0, 0.12);
	padding: 1rem;
	border-radius: 0.25rem;
	border: none;
	box-shadow: none;
	cursor: pointer;
}

@media (min-width: 26rem) {
	.form {
		width: 23rem;
	}
}
